.auth{
    width: 30%;
    margin-top: 3%;
  
    margin-left: 35%;
    border-top: 1px solid #b35151;
    border-bottom: 1px solid #b35151;
    border-left: 1px solid #b35151;
    border-right: 1px solid #b35151;
    padding: 2%;
    background-color: #d1e7ec;
    text-align: center;
    align-items: center;
    align-content: center;

  }
 
  
  .auth form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto 10px auto;
    align-items: center;
   
  
  }
  
  .auth__success{
    padding: 10px 0;
    background-color: hsl(147, 79%, 87%);
    margin-bottom: 20px;
  }
  
  .auth__error{
    padding: 10px 0;
    background-color: hsl(217, 35%, 85%);
    margin-bottom: 20px;
  }
  
  .auth form > input, button{
    height: 40px;
    font-size: 16px;
    padding: 10px;
    background-color:#96d4e7;
    border-radius: 10px;
    color: #0f0f0f;
 
  }