

.cont {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;

 
    /* width: 100% !important; */
    background-color: rgb(161, 185, 235) !important;
    padding: 5vh;
    border-radius: 14px;
}
.inp {
    border-radius: 0;
    background-color: #ede0e000;
    border: none;
    border-bottom: 1px solid black;
}
.inp:focus {
    background-color: #ede0e000 !important;
    outline: none !important;
}
@media screen and (min-width: 840px) {
    .cont{
        width: 45vw !important;
    }
}
.btnlg {
    background-color: #0f9b39;
}
.btnlg:hover {
    background-color: #16a757;
    color: white;
}